@import "tailwindcss";

body{
    background-color: black;
    color: rgb(240, 240, 240);
}

#song-player{
    background-image: url("/images/player-background.jpg");
    background-size: cover;
}

button:hover{
    cursor: pointer;
}